body 
{
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

.simple-sql {
    color : #ff0000;
}

.format-sql {
    color : #009933;
}

.btn-default {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:1px 5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    text-align:center;
}

.btn-default:hover {
	background-color:#5cbf2a;
}

.btn-default:active {
	position:relative;
	top:1px;
}

span {
    color : blue;
}

#copySuccess {
    font-size:18px;
    color: green;    
}

#copyError {
    color: red;    
}
