body {
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input, select, textarea{
    color: white;
}

/*MY CSS*/

.body-dark {
    background-color: black;
}

.legend-dark {
    background: #00a09b;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 0.5em 1em;
}

.legend-light {
    background: #BFD48C;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 0.5em 1em;
}

.input-dark {
    background-color: black;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

.input-light {
    background-color: white;
    color: black;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

.buttonload-light {
    border:5px;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 16px;
}

.buttonload-light:hover {
    cursor:pointer;
}

.buttonload-dark {
    background-color: ghostwhite;
    border:5px;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 16px;
}

.buttonload-dark:hover {
    cursor:pointer;
}

.formatSql-light {

}

.formatSql-dark {
    color: white;
}

fieldset {
    border: 1px solid #DDDDDD;
    font-size: 14px;
    border-radius: 8px;
}

legend {
    background: #BFD48C;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 0.5em 1em;
}

label {
    color: #666666;
    font-size: 12px;
}

textarea {
    border: none;
    border-bottom: 1px solid #DDDDDD;
    font-size: 14px;
    padding: 0.5em 1em 0.5em 0;
    width: 250px;
    color: #BFD48C;
}

textarea:focus {
    border-bottom: 1px solid #BFD48C;
    outline: none;
}

span {
  color : blue;
}

a {
    text-decoration: none;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.test {
    border-radius: 50px;
    text-align: center;
}

.test-span {
    font-size: 0.93456345rem;
    background: #0c85d0;
    padding: 5px 10px;
    border-radius: 50px;
    filter: drop-shadow(0rem 0.17rem 0.15rem #ccc);
    color: white;
}

.t1 {
    font-size: 0.93456345rem;
    background: #0c85d0;
    padding: 5px 20px;
    border-radius: 50px;
    filter: drop-shadow(0rem 0.17rem 0.15rem #ccc);
}

.t2 {
    width: 15px;height: 15px;
}

.learn-more {
    font-weight: 400;
    color: white;
}